<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='abc.css') }}">
    </head>
    <body>
        {% include "header.html" %}
        {% block head %}
        {% endblock %}
        <div class="abc">
            {% if error %}
            <h1 style="color:red">{{ error }}</h1>
            {% endif %}
        <form method="POST" action="/login1/">
            <label>Enter your email:</label><br>
            <input type="email" name="email"><br><br>
            <label>Enter your password:</label><br>
            <input type="password" name="pass"><br><br>
            <input type="submit" value="LOGIN">
        </form>
        </div>
    </body>
</html>