<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='abc.css') }}">
    </head>
    <body>
        {% include "header.html" %}
        {% block head %}
        {% endblock %}
        <div class="abc">
        <form method="POST" action="/signup1/" enctype="multipart/form-data">
            {% if error %}
            <h1 style="color:red">{{ error }}</h1>
            {% endif %}
            <label>Enter your firstname:</label><br>
            <input type="text" name="fname"><br><br>
            <label>Enter your lastname:</label><br>
            <input type="text" name="lname"><br><br>
            <label>Enter your email:</label><br>
            <input type="email" name="email"><br><br>
            <label>Enter your password:</label><br>
            <input type="password" name="pass"><br><br>
            <label>Enter your password again:</label><br>
            <input type="password" name="cpass"><br><br>
            <input type="file" name="myfile"><br><br>
            <input type="submit" value="SIGNUP">
        </form>
        </div>
    </body>
</html>